* {
  font-family: 'Oswald', sans-serif;
}

.nav-container {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(5, 5, 5, 0.3);
}


.menu {
  display: flex;
  justify-content: space-between;

}

.nav-logo {
  width: 200px;
}

.menu-item {
  list-style: none;
  margin-top: 10px;
}

.menu-item a {
  text-decoration: none;
  color: black;
  padding-left: 40px;
  
}

.menu-location,
.menu-menu,
.menu-giftcert,
.menu-careers {
  border-right: 2px black solid;
  padding-right: 50px;
  
}


.info-inner-container {
  background-image: url(https://previews.123rf.com/images/titco/titco1706/titco170600724/80545400-white-organic-wood-texture-light-wooden-background-old-washed-wood-.jpg);
  padding: 40px;
}  

.header-image {
  width: 100%;
}

