.nav-container {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(5, 5, 5, 0.3);
}


.menu {
  display: flex;
  justify-content: space-between;

}

.nav-logo {
  width: 200px;
}

.menu-item {
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: black;
  padding-left: 40px;
  
}

.menu-location,
.menu-menu,
.menu-giftcert,
.menu-careers {
  border-right: 2px black solid;
  padding-right: 50px;
  
}

.info-container {
  display: flex;
  flex-direction: row;
}

.info-inner-container {
  border: 2px red solid;
  width: 50%;

}